<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/nav') %>
    <div class="employee-details-container">
      <div class="employee-details">
        <div class="profile-pic"><i class="fa-solid fa-user"></i></div>
        <h2 class="employee-name"><%= employee.name %></h2>
        <p class="employee-position"><%= employee.position %></p>
        <div class="employee-id">
          <h4>Employee ID</h4>
          <p><%= employee.id %></p>
        </div>
        <div class="employee-contact">
          <h4>Employee Contact</h4>
          <p><%= employee.contact %></p>
        </div>
      </div>
      <div class="employee-additional-details">
        <div class="employee-details-email">
          <h4>Employee Email</h4>
          <p><%= employee.email %></p>
        </div>

        <div class="employee-join-date">
          <h4>Join Date</h4>
          <p>Join Date: <%= employee.createdAt %></p>
        </div>

        <div class="employee-operations">
          <a href="/employees/edit/<%= employee.id %>">Edit</a>
          <a class="delete" data-delete="<%= employee.id %>">delete</a>
        </div>
      </div>
    </div>

    <script>
      const deleteBtn = document.querySelector("a.delete");
      deleteBtn.addEventListener("click", (e) => {
        const endpoint = `/employees/${deleteBtn.dataset.delete}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.redirect) {
              window.location.href = data.redirect;
            } else {
              console.log(data); // Handle other responses if necessary
            }
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
